h1{
	font-size:100px;
	color:pink;
	font-family: 'Indie Flower', cursive;
}
body {
	background: url("pink flower.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
{	font-size:60px;
	font-color:yellow;
}