h1{
	font-size:100px;
	color:purple;
	font-family: 'Indie Flower', cursive;
}
body {
	background: url(flower.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}